.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        chikaya
      .top-items__icons
        = link_to "#", class: "icon-edit" do
          = icon('fas', 'edit')
        = link_to "#", class: "icon-edit" do
          = icon('fas', 'cog')
  .side-bar__group-list
    = link_to "#", class:"group-list" do
      .group-list
        .group-list__name
          tecacamp
        .group-list__message
          まだメッセージがありません

      .group-list
        .group-list__name
          teca
        .group-list__message
          まだメッセージがありません
